.countries {
  .country-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .country-card {
    background: #fff;
    border-radius: 22px;
    padding: 30px;
    text-align: center;
    .country-card-flag {
      position: relative;
      width: 60px;
      height: 60px;
      margin: 0 auto;
      img {
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        border-radius: 3px;
        border: 1px solid #ebebeb;
      }
    }
    .country-card-name {
      font-weight: bold;
      margin: 12px 0 32px;
    }
    .country-card-info-list {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 8px;
      .country-card-info-item {
        background: #f4f6f7;
        font-size: 12pt;
        padding: 16px;
        border-radius: 8px;
        text-align: left;
        color: #3b3b3b;
        .icon {
          margin-bottom: 30px;
          font-size: 14pt;
          &.fa-book-medical {
            color: #269bb8;
          }
          &.fa-skull-crossbones {
            color: #000000;
          }
          &.fa-heart {
            color: #b82626;
          }
          &.fa-vial {
            color: #5e26b8;
          }
        }
        .info-name {
          font-size: 10pt;
          margin-bottom: 8px;
        }
        .info-value {
          font-weight: bold;
        }
      }
    }
  }
}