.filter-wrap {
  margin: 0 0 16px;
  .search-input {
    position: relative;
    background: #fff;
    padding: 15px 15px 15px 45px;
    border-radius: 8px;
    width: 280px;
    .fa-search {
      position: absolute;
      top: 15px;
      left: 15px;
    }
    input {
      border: 0;
      width: 100%;
      font-size: 12pt;
      outline: 0;
      &::placeholder {
        color: #000;
      }
    }
  }
}