@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,500&display=swap');

@import 'cards.scss';
@import 'header.scss';
@import 'table.scss';
@import 'search.scss';
@import 'pagination.scss';

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  line-height: 1;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background: #f4f6f7;
}

section {
  margin-top: 5em;
  margin-bottom: 5em;
}

.centered {
  max-width: 1012px;
  margin: 0 auto;
  padding: 0 16px;
}
